
  .styled-image {
    width: 250px;
    height: auto;
    border-radius: 136px;
    box-shadow: -1px 0px 10px rgb(169 168 168 / 76%);
    transition: transform 0.3s ease;
  }
  .styled-image-day{
    box-shadow:1px -1px 15px rgb(0 0 0);
    width: 250px;
    height: auto;
    border-radius: 136px;
    transition: transform 0.3s ease;
  }

  .styled-image:hover {
    transform: scale(1.03);
  }
  
  .image-container {
    text-align: center;
    margin: 20px;
  }
  
  @media(max-width: 768px) {
    .caricature-container{
      margin: 0;
    }
  }
  